{% extends "showcase/edit_base.html" %}


{% block breadcrumb_content %}
    <li>{% link_for _('Showcases'), controller='ckanext.showcase.controller:ShowcaseController', action='search' %}</li>
    <li class="active"><a href="">{{ _('Reorder Showcases') }}</a></li>
{% endblock %}

{% block styles %}
  {{ super() }}

  {% resource 'showcase/vendor/dragula/dragula.css' %}
  {% resource 'showcase/nav-bar.css' %}
{% endblock %}

{% block scripts %}
  {{ super() }}

  {% resource 'showcase/nav_bar' %}
{% endblock %}

{% block subtitle %}{{ _('Reorder Showcases') }}{% endblock %}

{% block primary %}
<div class="primary span12">
  {% block primary_content %}
    <section class="module">
      <div class="module-content">
        <h1 class="{% block page_heading_class %}page-heading{% endblock %}">{% block page_heading %}{{ _('Reorder Showcases') }}{% endblock %}</h1>
        {% block primary_content_inner %}
        {% snippet 'showcase/snippets/showcase_reorder_list.html', showcases=c.showcases %}
        {% endblock %}
      </div>
    </section>
  {% endblock %}
</div>
{% endblock %}
